In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt

import warnings 
warnings.filterwarnings('ignore')

## Importing the Data Set

In [9]:
df_char = pd.read_csv('Data_Accidents_France/caracteristics.csv', encoding='latin-1', low_memory=False)
df_plac = pd.read_csv('Data_Accidents_France/places.csv')
df_users = pd.read_csv(r'Data_Accidents_France/users.csv')
df_veh = pd.read_csv(r'Data_Accidents_France/vehicles.csv')
df_holi = pd.read_csv('Data_Accidents_France/holidays.csv')

## Characteristics

In [11]:
df_char.head()

,Num_Acc,an,mois,jour,hrmn,lum,agg,int,atm,col,com,adr,gps,lat,long,dep
0,201600000001,16,2,1,1445,1,2,1,8.0,3.0,5.0,"46, rue Sonneville",M,0.0,0,590
1,201600000002,16,3,16,1800,1,2,6,1.0,6.0,5.0,1a rue du cimetière,M,0.0,0,590
2,201600000003,16,7,13,1900,1,1,1,1.0,6.0,11.0,NaN,M,0.0,0,590
3,201600000004,16,8,15,1930,2,2,1,7.0,3.0,477.0,52 rue victor hugo,M,0.0,0,590
4,201600000005,16,12,23,1100,1,2,3,1.0,3.0,11.0,rue Joliot curie,M,0.0,0,590

In [12]:
##df_char['agg'].value_counts()

2    576166
1    263819
Name: agg, dtype: int64

In [13]:
df_char.columns

Index(['Num_Acc', 'an', 'mois', 'jour', 'hrmn', 'lum', 'agg', 'int', 'atm',
       'col', 'com', 'adr', 'gps', 'lat', 'long', 'dep'],
      dtype='object')

In [ ]:
# dropping unrelevant columns
df_char.drop9(['adr', 'com', 'gps'], axis=1, inplace=True)

In [ ]:
## df_char.rename(columns={'an': 'year', 'mois': 'month', 'jour': 'day', 'hrmn': 'hour', l})